.image-header{
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 60px;
  //filter: brightness(50%);
}


.article{
  margin-bottom: 60px;
  padding: 0;
}

.artcile__header {

  font-size: 2em;
  font-family: $font-family-header;
  font-weight: $font-weight-extra-bold;
  margin-bottom: 30px;
}

.article__subheader {
  font-size: 1.4em;
  font-family: $font-family-body;
  font-weight: $font-weight-medium;
  margin-bottom: 60px;
  padding: 100px;
}


.article__body{
  font-size: 1.2em;
  font-family: $font-family-body;
  font-weight: $font-weight-normal;
  margin-bottom: 60px;
}
